api:
  serviceKey: ${API_SERVICE_KEY}

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${jdbc.url}
    username: ${jdbc.username}
    password: ${jdbc.password}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    show-sql: true

jwt:
  secret: ${jwt.secretKey}
  expirationMs: 3600000   # 1 hour

encryption:
  secretKey: ${ENCRYPTION_SECRET_KEY}