api:
  serviceKey: ${API_SERVICE_KEY}

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_DB_URL}
    username: ${LOCAL_DB_USER}
    password: ${LOCAL_DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        show_sql: true
    open-in-view: false

  doc:
    api-docs:
      path: /v3/api-docs
    swagger-ui:
      path: /swagger-ui.html

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GOOGLE_ACCOUNT}
    password: ${GOOGLE_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: ${jwt.secretKey}
  expirationMs: 21600000  # 6 hours

encryption:
  secretKey: ${ENCRYPTION_SECRET_KEY}

cloud:
  aws:
    s3:
      bucket: ${S3_NAME}
    stack.auto: false
    region.static: ${S3_REGION}
    credentials:
      accessKey: ${S3_ACCESS_KEY}
      secretKey: ${SECRET_ACCESS_KEY}
